[submodule "src/OCanren"]
	path = src/OCanren
	url = https://github.com/Lozov-Petr/OCanren.git
	branch = wildcards+var_ordering
[submodule "src/noCanren"]
	path = src/noCanren
	url = https://github.com/PLTools/noCanren.git
	branch = wildcard
