[submodule "src/OCanren"]
	path = src/OCanren
	url = https://github.com/Kakadu/OCanren.git
	branch = wildcards-2025-forPR-2+reify_in_state
	shallow = true

[submodule "src/noCanren"]
	path = src/noCanren
	url = https://github.com/PLTools/noCanren.git
	branch = wildcard
	shallow = true

