[submodule "src/OCanren"]
	path = src/OCanren
	url = https://github.com/Kakadu/OCanren.git
	branch = wildcards-2025-forPR-2
[submodule "src/noCanren"]
	path = src/noCanren
	url = https://github.com/PLTools/noCanren.git
	branch = wildcard
